* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navForm {
  display: flex;
  align-items: center;
  padding: 8px;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: space-around;
  width: 100%;
  background: #4e68db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #86fde8,
    #4e68db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #86fde8,
    #4e68db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navForm a {
  display: inline-block;
  color: white;
  font-weight: 600;
  text-decoration: none;
  margin-top: 1px;
  border: 2px solid white;
  width: 125px;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0;
}
.input {
  padding-top: 10px;
}
p.danger {
  color: red;
  font-size: 15px;
}

input.danger {
  border: 2px solid red;
}
