* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contacto {
  position: fixed;
  top: 20px;
  left: 20px;
}

.header {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  padding: 12%;
  width: 100%;
}
.containerLand {
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.tostadita {
  display: block;
  height: 450px;
  object-fit: cover;
  width: auto;
  animation: moverArriba 1s ease-in;
}
.textos {
  width: 50%;
  color: white;
}

.textos h1 {
  font-size: 65px;
  animation: moverDerecha 1s ease-in;
}

.textos h2 {
  font-size: 30px;
  animation: moverIzquierda 1s ease-in;
}
.textos a {
  display: inline-block;
  color: white;
  font-weight: 600;
  text-decoration: none;
  margin-top: 30px;
  border: 2px solid white;
  width: 150px;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0;
  animation: moverArriba 1s ease-in;
}
@keyframes moverIzquierda {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moverDerecha {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moverArriba {
  0% {
    opacity: 0;
    transform: translatey(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 1000px) {
  .tostadita {
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  .tostadita {
    height: 370px;
  }
  .textos h1 {
    font-size: 70px;
  }
  .textos h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 700px) {
  .tostadita {
    height: 250px;
    width: 330px;
    /* margin-top: 10px; */
  }
  .containerLand {
    flex-wrap: wrap;
    margin-top: 100px;
  }
  .textos h1 {
    font-size: 40px;
  }
  .textos h2 {
    margin-top: 5px;
    font-size: 25px;
  }
}
@media screen and (max-width: 450px) {
  .containerLand {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
  }
  .textos {
    width: 100%;
    text-align: center;
  }
  .textos h1 {
    font-size: 60px;
  }
  .textos h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 340px) {
  .tostadita {
    height: 200px;
    margin-top: 25px;
    width: 350px;
  }
  .containerLand {
    margin-top: 250px;
  }
  .textos a {
    width: 120px;
  }
  .textos h1 {
    font-size: 35px;
  }
  .textos h2 {
    font-size: 15px;
  }
}
